body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
h3 {
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
    background: transparent;
    user-select: none;
}
.bulle {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    opacity: 0;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -250px;
        opacity: 1;
        filter: hue-rotate(720deg);
        left: var(--left);
    }

}